<table class="table table-bordered table-striped table-condensed">
  <thead>
    <th>Code</th>
    <th>Name</th>
    <th>Participants</th>
    <th>Manager name</th>
    <th>Edit</th>
  </thead>

  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.eventCode }}</td>
      <td>{{ event.eventName }}</td>
      <td [id]="getClass(event.numberOfParticipants)">
        {{ event.numberOfParticipants }}
      </td>
      <td>{{ event.eventManager.fullName }}</td>
      <td>
        <a [routerLink]="['/events', event.eventCode]" class="btn btn-primary"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>
