<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hadera</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/residents"
            (click)="isMenuCollapsed = true"
            >Residents</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/events"
            (click)="isMenuCollapsed = true"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/bussiness"
            (click)="isMenuCollapsed = true"
            >Bussiness</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/employees"
            (click)="isMenuCollapsed = true"
            >Employees</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
